@{
    ViewBag.Title = "About Us";
}
<style>
    .col-3 .panel {
        margin: 0 5% 3% 0;
        width: 30%;
    }
    .box {
        padding-left:20px;
    }
</style>
<div class="single_post">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <div class="storycontent">
            <div class="row">
                <div class="col-md-4 box">
                    <img alt="our-journey" class="alignnone size-full wp-image-936" height="200" src="@Url.Content("~/images/our-journey.jpg")" width="330">
                    <h3>Our Journey</h3>
                    <p>
                        Follow our exciting journey from humble beginnings to where we are today Our Journey and where we are heading…</a>
                    </p>
                </div>
                <div class="col-md-4 box">
                    <img alt="our-values" class="alignnone size-full wp-image-44" height="200" src="@Url.Content("~/images/our-values.jpg")" width="330">
                    <h3>Our Values</h3>
                    <p>
                        The La VITA family lives and breathes a set of core values that represent how we think and how we operate on a daily basis….
                    </p>
                </div>
                <div class="col-md-4 box">
                    <img alt="our-environment-ext" class="alignnone size-full wp-image-938" height="200" src="@Url.Content("~/images/covers.jpg")" width="330">
                    <h3>Our Environment</h3>
                    <p>
                        This is where it all happens, the creative hub where ideas take shape and plans get put into action. Take a peek at a day in the life of takealot.com…
                    </p>
                </div>
                <div class="col-md-4 box">
                    <img alt="our-peeps" class="alignnone size-full wp-image-926" height="200" src="@Url.Content("~/images/our-peeps1.jpg?")" width="330">
                    <h3>Our People</h3>
                    <p>
                        We come in all shapes and sizes! Meet the folks behind the brand – the faces behind the names – and get to know us a little better…
                    </p>
                </div>
                <div class="col-md-4 box">
                    <img alt="our-charity" class="alignnone size-full wp-image-34" height="200" src="@Url.Content("~/images/our-charity1.jpg?")" width="330">
                    <h3>Our Charity</h3>
                    <p>
                        Together with our shoppers, we strive to make a difference in the lives of those in need by supporting Beautiful Gate South Africa…
                    </p>
                </div>
         
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


